.background {
  margin: 0;
  background-color: white;
}

.logo {
  color: #56D394;
}
.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.dashboard {
  width: 50vw;
}


.offRow {
  background-color: #DEE2E3;
}

.tableStyle {
  width: 100%;
}

.tableStyle tr{
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
