
.header {
    font-weight: 900;
    margin: 50px auto;
    font-size: 4.5em;
    line-height: .7;
}

.background {
  margin: 0;
  background-color: white;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #3a3a3a;
}
 a:hover {
   color: #56D394;
   cursor: pointer;
 }

 .submitButton {
    height: 67%;
    width: 100px;
    padding: 5px;
    margin: 5px;
    margin-left: 0;
    border-color: #3a3a3a;
    color: #3a3a3a;
    font-family: Dosis;
    font-size: 12px;
    cursor: pointer;
 }

 .submitButton:hover {
    background-color: #56D394;
    color: white;
    border-color: white;
    cursor: pointer;
 }

 .unitTestExampleBtn {
    width: 205px;
    padding: 5px;
    margin: 5px;
    margin-left: 170px;
    background-color: #df9bff;
    border-color: #3a3a3a;
    color: #3a3a3a;
    font-family: Dosis;
    font-size: 20px;
    cursor: pointer;
 }

 .unitTestExampleBtn:hover {
    background-color: #56D394;
    color: white;
    border-color: white;
    cursor: pointer;
 }

 .backButton {
    width: 100px;
    padding: 5px;
    margin: 5px;
    border-color: #3a3a3a;
    color: #3a3a3a;
    font-family: Dosis;
    font-size: 15px;
    cursor: pointer;
 }

 .backButton:hover {
    background-color: #df9bff;
    color: white;
    border-color: white;
    cursor: pointer;
 }

 .buttonContain {
   display: flex;
   justify-content: space-between
 }

 .unitTestWords {
     color: #3a3a3a;
     margin-left: 600px;
 }

 .testExample {
     background-color: #3a3a3a;
     color: #56D394;
     margin-right: 280px;
     margin-left: 260px;
 }

 .docsButton {
  width: 100px;
  padding: 5px;
  margin: 5px;
  border-color: #3a3a3a;
  color: #3a3a3a;
  font-family: Dosis;
  font-size: 15px;
  cursor: pointer;
 }

 .docsButton:hover {
  background-color: #df9bff;
  color: white;
  border-color: white;
  cursor: pointer;
 }