
@font-face { font-family: Muli; 
            font-style: normal;
            font-weight: 300;
            src: url('./Muli/Muli-Regular.ttf');
        } 
@font-face { font-family: Muli; 
            font-style: normal;
            font-weight: 400;
            src: url('./Muli/Muli-SemiBold.ttf');
        }
@font-face { font-family: Muli; 
            font-style: normal;
            font-weight: 600;
            src: url('./Muli/Muli-Bold.ttf');
        }
@font-face { font-family: Muli; 
            font-style: normal;
            font-weight: 800;
            src: url('./Muli/Muli-Black.ttf');
        }
body {
    background-color: #E2EDF8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {  
    font-weight: 900;
    margin: 50px auto;
    font-size: 4.5em;
    line-height: .7;
}

.header-med {  
    line-height: .2;
    font-weight: 600;
    margin: 50px auto;
    font-size: 2.5em;
}

.text {
    font-family: 'Muli', sans-serif;
    color: #1B3947;
    text-align: center;
}

.copy {
    font-weight: 200;
    margin: 30px auto;
    font-size: 1.6em;
    width: 60%;
    line-height: 1.3em
}

.button1 {
    background-color: #3D5F75;
    color: white;
    padding: 4pt 10pt;
    font-size: 1.3em;
    font-weight: 400;
    border-radius: 8px;
    border: #1B3947;
    border-width: 3px;
}

.button-contain {
    margin: 20px auto;
    text-align: center;
    height: 50px;
    
}
