.problem-view {
  display: flex;
  flex-direction: row;
  margin: 20px;
  margin-right: 30px;
  font-family: Dosis;
}

.problem-view h3{
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.left-container {
  width: 50vw;
  margin-left: 30px;
  margin-top: 0;
  padding-top: 0;
}

.instructions {
  height: 465px;
  padding: 20px;
  margin-right: 25px;
  border: 1px solid #DEE2E3;
  background-color: #F8F8F8;
}

.output {
  font-size: 13px;
}

.spec-runner {
  height: 75vh;
}

.code-editor {
  width: 50vw;
  height: 75vh;
  margin-top: 35px;
}

.loading {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  font-family: Dosis;
  font-size: 45px;
}
.loading img{
  height: 200px;
  width: 200px;
  /* background-color: #56D394; */
  padding: 20px;
}

.code-editor button {
  height: 35px;
  width: 100px;
  padding: 5px;
  border-color: #3a3a3a;
  color: #3a3a3a;
  font-family: Dosis;
  font-size: 12px;
}

.code-editor button:hover {
  background-color: #56D394;
  color: white;
  border-color: white;
  cursor: pointer;
}


.code-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.flag {
  margin-left: 550px;
}

.problem-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 25px;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;

}

.title-tab {
  height: 50px;
  width: 100px;
  background-color: #56D394;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.title-tab-off {
  border-top: 1px solid #3a3a3a;
  border-right: 1px solid #3a3a3a;
  border-color: #DEE2E3;
  color: #3a3a3a;
  height: 48px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.problem-tabs {
  display: flex;
  flex-direction: row;
}

.final-submit {
  display: flex;
  flex-direction: row;
}

.final-submit img {
  height: 35px;
  width: 35px;
  padding-left: 10px;
}

.exit img {
  height: 30px;
  width: 30px;
  margin: 0;

}
