.stats {
  width: 25vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
}

.stats div {
  height: 48%;
  width: 90%;
  background-color: #56D394;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  font-family: Dosis;
}

.stats img{
  height:120px;
  width:120px;
}

.stats p{
  margin: 0;
  padding: 0;

}

.statsDisplay {
  display: flex;
  flex-direction: row;
  padding: 0px;

}

.statsDisplay h2 {
  margin: 0;
}

.statsDisplay h4 {
  margin: 0;
}

.statsDisplay p {
  font-size: 50px;
}
