.stats {
  width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.stats-box {
  height: 48%;
  width: 90%;
  background-color: #56D394;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
  font-family: Dosis;
}
.stats-box h3 {
  margin: 0
}

.little-dude{
  height:150px;
  width:120px;
}

.icon{
  height:120px;
  width:120px;
}

.stats p{
  margin: 0;
  padding: 0;

}

.statsDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px

}

.statsDisplay h2 {
  margin-top: 10px;
}

.statsDisplay h4 {
  margin: 0;
}

.statsDisplay p {
  font-size: 30px;
}

.random-icon-button {
  /* height: 50px; */
  /* width: 100px; */
  padding: 10px;
  margin: 12px;  
  border-color: #3a3a3a;
  color: #3a3a3a;
  font-family: Dosis;
  font-size: 12px;
  cursor: pointer;
}
